<div class="overview_container">
    <div class="overview_top">
        <div class="countNums" id="revenueNums">
            <div class="containerFixed">
                <h2><span>{{ revenue_total }}</span><i> 元</i></h2>
                <p class="counts">总营收</p>
            </div>
            <p class="currentVal">当月营收 <span>{{ revenue_monthly }}</span><i> 元</i></p>
        </div>
        <div class="centerLayout" id="bill_nums">
            <div class="containerCenter">
                <h2>{{ actual_arrival }}<i> 元</i></h2>
                <p class="actualArrival">实际到账</p>
            </div>
            <div class="containerCenter noCount">
                <h2>{{ non_arrival }}<i> 元</i></h2>
                <p class="actualArrival">未到账</p>
            </div>
            <div class="containerCenter overdueBill">
                <div>
                    <h2>{{ due_bill }}<i> 单</i></h2>
                    <p class="actualArrival">到期账单</p>
                </div>
            </div>
            <div class="containerCenter oldBill">
                <h2>{{ overdue_bill }}<i> 单</i></h2>
                <p class="actualArrival">过期账单</p>
            </div>
        </div>
        <div class="countTop">
            <div class="resizeBigSm">
                <img class="resizeBtn reBig" src="imgs/resize.png">
                <img class="resizeBtn" style="display: none" src="imgs/resizeSm.png">
            </div>
            <div class="h2Title">
                <h2>账户TOP10</h2>
                <p class="countType" id="count_type">
                    <span data-id="consume" v-on:click="account('consume',$event)" v-bind:class="{ activeTop10: isActive}">消费账户</span>
                    <span data-id="arrearage" v-on:click="account('arrearage',$event)" v-bind:class="{ activeConsume: isConsume }">欠费账户</span>
                </p>
                <p>单位(元)</p>
            </div>
            <ul class="fl" id="accountTop">
                <div v-for="(account,index) in accounts">
                    <li v-if="index>=0 && index<=4"><span class="titleNo">{{index+1}}</span><span  class="userTitle" v-bind:title="account.account_id">{{ account.account_id }}</span> --------- <span>{{account.amount}}</span></li>
                    <li v-if="index>4" class="liRight"><span class="titleNo">{{index+1}}</span><span  class="userTitle" v-bind:title="account.account_id">{{ account.account_id }}</span> --------- <span>{{account.amount}}</span></li>
                </div>
            </ul>
            <span class="splitLine"></span>
        </div>
    </div>
    <div class="overview_center">
        <div class="drawcolumn fl">
            <div class="chartTitle">
                <h2>营收数环比趋势图</h2>
                <p>单位(元)</p>
            </div>
            <div id="drawcolumn" style="height: 250px"></div>
        </div>
        <div class="drawcolumn tendency fl">
            <div class="chartTitle">
                <h2>资源收入趋势图</h2>
                <p>单位(元)</p>
            </div>
            <div id="drowareaChart" style="height: 250px;"></div>
        </div>
    </div>
    <div class="overview_bottom">
        <div class="drawcolumn proportion fl">
            <div class="chartTitle">
                <h2>资源收入占比</h2>
                <p>单位(元)</p>
            </div>
            <div id="drowPie" style="height: 250px;"></div>
        </div>
        <div class="drawcolumn top10 fl">
            <div class="chartTitle">
                <h2>资源收入TOP10</h2>
                <p>单位(元)</p>
            </div>
            <ul class="fl" id="resource_income">
                <div v-for="(item,index) in resources">
                    <li v-if="index>=0 && index<=4"><span class="titleNo">{{index+1}}</span><span class="userTitle" v-bind:title="item.resource ">{{ item.resource }}</span> ---------  <span>{{item.amount}}</span></li>
                    <li v-if="index>4" class="liRight"><span class="titleNo">{{index+1}}</span><span class="userTitle" v-bind:title="item.resource ">{{ item.resource }}</span> ---------  <span>{{item.amount}}</span></li>
                </div>
            </ul>
            <span class="splitLine"></span>
        </div>
    </div>
</div>